html {
    /* height of your sticky header */
    scroll-padding-top: 80px; 
  }

body {
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
}

#navbar{
    position: fixed;
    top: 0;
    color: red;
    height: 5vh;
    width: 98vw;
    z-index: 2;
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


#navbar a:visited{
    color: burlywood;
}

#nav-links{
    display: flex;
    width: 25%;
    padding: 10px;
    padding-right: 0;
    justify-content: flex-end;
}

#nav-links a{
    padding:10px;
}

#nav-links a:hover{
    background-color: yellow;
}
main {
    z-index: 1;
}

#container {
    width: 98vw;
}

#welcome-section {
    background-color: slateblue;
    height: 98vh;
    width: 98vw;
}

#projects-div {
    background-color: tomato;
    height: 100vh;
}

#projects-intro{
    margin-top: 60px;
}

h2{
    margin:60px;
}


#projects, #contact-info {
    /* has to be set up for the fitting whole window*/
    margin-top: 30px;
    height: 100vh;
    width: 400px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(43, 41, 41);
}

img{
    margin:0;
}

.responsive-img{
    height: auto;
    max-width: 100%;
}

.project-title {
    font-size: 20px;
}

a {
    text-decoration: none;
}

.project a:visited {
    color: white;
}