html {
    /* height of your sticky header */
    scroll-padding-top: 65px; 
    scroll-behavior: smooth;
  }

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#navbar{
    position: fixed;
    left: 0;
    top: 0;
    height: 7%;
    width: 100vw;
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 2;
}

#nav-links{
    display: flex;
    justify-content: flex-end;
    height: 50px;
    align-items: center;
    margin-right: 15px;
}

#nav-links a{
    margin: 0;
    padding: 20px;
    width: 30%;
    font-size: 25px;
}

#navbar a:visited{
    color: lightcyan;
}

#nav-links a:hover{
    background-color: green;
}
main {
    left: 0;
    z-index: 1;
    position: absolute;
    height: 100vh;
    width: 100vw;
}

#container {
    width: 100vw;
}

#welcome-section {
    background-image: url('https://cdn.hipwallpaper.com/i/41/51/Do1VZv.jpg');
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 35px;
    padding-top: 220px;
    align-items: center;    
}

#description-block{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#typing-line {
    height: 30px;
    width: 5px;
    animation: blink;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}


@keyframes blink {
    from, to{    background-color: white;}
    50%{background-color: transparent;}
}

#projects-div {
    background-image: url('https://cdn.hipwallpaper.com/i/19/40/QdAz7C.jpg');
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 350px;
    padding-top: 50px;
}

#projects-intro{
    text-decoration: underline;
    font-size: 35px;
    color: #d9dab0;
    font-family: 'Noto Sans JP', sans-serif;
}




#projects, #contact-info {
    /* has to be set up for the fitting whole window*/
    margin-top: 0px;
    height: 90vh;
    width: 90vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(43, 41, 41);
    margin: 20px;
    width: 400px;
    height: 330px;
}

img{
    width: 100%;
    height: 80%;
}

.responsive-img{
    max-width: 100%; 
    
}

.project-title {
    font-size: 20px;
}

.project-title a {
    padding: 20px;
}

#projects-show-all {
    font-size: 30px;
    font-family: 'Noto Sans JP', sans-serif;
    color: white;
    background-color: brown;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    width:15%;
}


#projects-show-all:hover{
        cursor: pointer;
        color: white;
        animation: hover 1.0s;
        animation-fill-mode: forwards;
    
}

@keyframes hover {
    from {padding-left:10px;padding-right: 10px;transform: scale(1); justify-content: flex-start;}
    to   {padding-left:20px;padding-right: 20px;transform: scale(1.05); justify-content: space-evenly;}
}

a {
    text-decoration: none;
    padding:11px;
}

.project a:visited {
    color: white;
}